LICENSE
.devcontainer
.github
.git
.gitignore
.gitattributes
*.md
*.png
*.jpg
*.json
*.secret
*.env
*.sh
*.toml
*.yml
*.yaml
*.sample
Dockerfile
Dockerfile.*
.idea/
.devcontainer/
tmp/
certs/
node_modules/
package.json
package-lock.json
__REPLACE__WITH__BINARY__NAME__
Caddyfile
.env
